<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" id="route-card-{{this.id}}">
                <h3>{{this.routeName}}</h3>
                <p><strong>Location:</strong> {{this.areaName}}</p>
                <p><strong>Difficulty:</strong> {{this.grade}}</p>
                <p><strong>Safety:</strong> {{this.safety}}</p>
                <p><strong>Description:</strong> {{this.description}}</p>
                <img src= "../../resources/img/default_image_for_routes.jpg" alt="Route Image" width="400px">
            </div>
        </div>
        <br>
    </div>
</div>
